.footer {
    background: #161619;
    min-height: 64px;

    margin-top: 32px;
    border-top: 1px solid #37373b;
    border-radius: 0 0 10px 10px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 36px;
}

.social i {
    font-size: 36px;
    margin-right: 24px;

    cursor: pointer;
    transition: 0.2s;
}

.social i:last-child {
    margin: 0;
}
.social i:hover {
    color: #f3bf99;
}