* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  
  font-family: 'Inter', sans-serif;
}
.contents-wrapper {
  display: flex;
  justify-content: center;
}
.contents {
  width: 550px;
  margin: 45px 40px 28px 40px;
}
