.card-wrapper {
    display: flex;

    padding: 20px 0;

    border-bottom: 1px solid #F5F5F5;
}

.image-container {
    height: 168px;
    width: 125px;
    
    margin-right: 20px;
}
.image-container img {
    height: 168px;
    width: 125px;
    object-position: center;
    object-fit: cover;

    border-radius: 5px;
}

.text-container {
    color: #2b283A;
    font-size: 10px;

    margin: auto 0;
}

.location-box {
    display: flex;
    align-items: center;
}
.location-box .fa-location-dot {
    color: #F55A5A;
    height: 10px;
    width: 9px;
}
.location-box .location {
    margin-right: 12px;
    margin-left: 4px;
    
    text-transform: uppercase;
    letter-spacing: 0.17em;
}
.location-box a {
    color: #918e9b;
}

.text-container .title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;

    margin-top: 8px;
}
.text-container .dates {
    font-weight: bold;
    margin-top: 14px;
}
.text-container p {
    margin: 10px 0 0 0;
    text-overflow: ellipsis;
}